body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 10%);
  height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: "Anton", sans-serif;
  justify-content: center;
  align-items: center;
}

.night {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg);
}

.shooting_star {
  position: absolute;
  left: 10%;
  top: 10%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  animation: tail 3s ease-in-out infinite, shooting 3s ease-in-out infinite;
}

.shooting_star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #5f91ff,
    rgba(0, 0, 255, 0)
  );
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3s ease-in-out infinite;
}

.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #5f91ff,
    rgba(0, 0, 255, 0)
  );
  transform: translateX(50%) rotateZ(-45deg);
  border-radius: 100%;
  animation: shining 3s ease-in-out infinite;
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}

.shooting_star:nth-child(1) {
  top: calc(50% - 150px);
  left: calc(50% - 300px);
  animation-delay: 1.2s;
}

.shooting_star:nth-child(2) {
  top: calc(50% - 100px);
  left: calc(50% - 200px);
  animation-delay: 0.5s;
}

.shooting_star:nth-child(3) {
  top: calc(50% - 50px);
  left: calc(50% - 100px);
  animation-delay: 2.3s;
}

.shooting_star:nth-child(4) {
  top: calc(50% + 0px);
  left: calc(50% + 0px);
  animation-delay: 0.8s;
}

.shooting_star:nth-child(5) {
  top: calc(50% + 50px);
  left: calc(50% + 100px);
  animation-delay: 1.8s;
}

.shooting_star:nth-child(6) {
  top: calc(50% + 100px);
  left: calc(50% + 200px);
  animation-delay: 2.8s;
}

.shooting_star:nth-child(7) {
  top: calc(50% + 150px);
  left: calc(50% + 300px);
  animation-delay: 0.2s;
}
